<main class="container dashboard-container">
  <div class="dashboard-layout">
    <aside class="dashboard-nav">
      <div class="user-profile-summary">
        <img src="https://placehold.co/80x80/3f51b5/fff?text=DP" alt="Avatar de usuario">
        <h3>David Alfonso Posso Cano</h3>
        <p>Miembro desde 2024</p>
      </div>
      <ul>
        <li><a routerLink="/mis-reservas"><i class="fa-solid fa-briefcase"></i> Mis Reservas</a></li>
        <li><a routerLink="#"><i class="fa-solid fa-user"></i> Mi Perfil</a></li>
        <li><a routerLink="#"><i class="fa-solid fa-heart"></i> Mensajes</a></li>
        <li><a routerLink="/mis-alojamientos"><i class="fa-solid fa-house-user"></i> Mis Alojamientos</a></li>
        <li><a routerLink="#"><i class="fa-solid fa-chart-line"></i> Dashboard</a></li>
        <li><a routerLink="#"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a></li>
      </ul>
    </aside>
  </div>
</main>
